@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
*
{
  
  margin-top: 0px;
  padding: 0%;
  box-sizing: border-box;
}
.comingsoon{
    font-family: 'poppins',sans-serif;
    height:80vh;
    display: block;
    background-position: center;
    background-size:cover ;
    padding: 0 10%;
    position: relative;

}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 72px;
    font-weight: 600;
    color:#e04b5a;
}
.content h1 span{
    color:#07294d ;
}
.content h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#07294d ;
    
}
.content p{
  font-size:xx-large ;
}
.rocket{
    width: 200px;
    position:absolute;
    right: 13%;
    bottom: 0;
    animation: rocket 4s linear infinite; 
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    
    100%{
        bottom: 105%;
        opacity: 100;
    }
}


form {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	position: relative;
}
form.error input[type="email"] {
	border-color: hsl(354, 100%, 66%);
	margin-bottom: 30px;
}
form .error_text {
	position: absolute;
	top: 70px;
	font-size: .95rem;
	margin-top: 10px;
	color: hsl(354, 100%, 66%);
	font-weight: 500;
	font-style: italic;
}
form input[type="email"] {
	height: 50px;
	width: 100%;
	border-radius: 50px;
	padding-left: 20px;
	border: 2px solid hsl(223, 68%, 12%);
	font-size: 1rem;
	outline: none;
}
form input[type="email"]::placeholder {
	color: hsl(223, 100%, 88%);
	font-family: 'Libre Franklin', sans-serif;
}

form button[type="submit"] {
	background-color:#07294d ;
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 50px;
	margin-top: 20px;
	color: white;
	font-size: 1rem;
	font-family: 'Libre Franklin', sans-serif;
	letter-spacing: 1.1px;
	box-shadow: 0px 0px 20px hsla(223, 87%, 63%, 0.32);
	cursor: pointer;
	outline: none;
}

@media only screen and (min-width: 768px) {
	form {
		flex-direction: row;
		max-width: 700px;
		margin-bottom: 50px;
	}
	form button[type='submit'] {
		margin: 0;
		width: 40%;
		margin-left: 20px;
	}
	form.error input[type="email"] {
		margin-bottom: 0;
	}
	form .error_text {
		left: 30px;
	}
	.hero-img {
		max-width: 700px;
		margin: 0 auto;
	}
}