*
{
  
  margin-top: 0px;
  padding: 0%;
  box-sizing: border-box;
}
.comingsoon{
    font-family: 'poppins',sans-serif;
    height:80vh;
    display: block;
    background-position: center;
    background-size:cover ;
    padding: 0 10%;
    position: relative;

}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 72px;
    font-weight: 600;
    color:#e04b5a;
}
.content h1 span{
    color:#07294d ;
}
.content h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#07294d ;
    
}
.content p{
  font-size:xx-large ;
}
.rocket{
    width: 200px;
    position:absolute;
    right: 13%;
    bottom: 0;
    animation: rocket 4s linear infinite; 
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    
    100%{
        bottom: 105%;
        opacity: 100;
    }
}


/* notify button */

.button {
    padding-top: 5%;
  }
  
  .notify-btn.active {
    height: 54px;
    width: 290px;
    transition: all 1s ease-out;
    opacity: 0;
  }
  
  .form-group {
    position: absolute;
    transition: all 1s ease-out;
    top: 50%;
    left: 40%;

  }
  
  form {
    position: relative;
    width: 290px;
  }
  
  .btn,
  input {
    background: #e04b5a;
    color:#dadada ;
    outline: none;
    border: 0;
    width: 180px;
    font-size: 28px;
    height: 58px;
    border-radius: 60px;
    margin: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    /* transition: all 0.3s ease-in; */
    position: relative;
    cursor: pointer;
  }
  
  input {
    z-index: -1;
    position: relative;
    opacity: 0;
  }
  
  input.active {
    width: 300px;
    margin: 0 -60px;
    transition: all 0.3s ease-out;
    padding-right: 84px;
    cursor: text;
    z-index: 100;
    opacity: 1;
    top: -50px;
  }
  
  input:not(:valid) + .submit-btn {
    color: #dddddd;
  }
  
  input:valid + .submit-btn {
    pointer-events: visible;
    color: #fff;
  }
  
  .notify-btn.active {
    width: 300px;
    margin: 0 -60px;
    z-index: -1;
    transition: all 0.3s ease-in;
  }
  
  .thanku-btn {
    z-index: -1;
    opacity: 0;
    left: 0;
    top: -100px;
  }
  
  .thanku-btn.active {
    z-index: 200;
    opacity: 1;
    transition: all 0.3s ease-in;
  }
  
  .submit-btn {
    outline: none;
    border: 0;
    background: #e04b5a;
    color: #fff;
    position: absolute;
    right: 20%;
    top: 5px; 
    border-radius: 60px;
    width: 80px;
    height: 48px;
    font-size: 16px;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-out;
  }
  
  .submit-btn.active {
    opacity: 1;
    z-index: 100;
    transition: all 0.3s ease-in;
    cursor: pointer;
  }
  
  