{% extends 'index_main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{%static 'assets/css/comingsoon.css'%}" />
<style>
  .comingsoon {
    background-image:url("{% static 'assets/images/back-01.png' %}")
  }
</style>
{% endblock %}
{% block main %}
<div class="comingsoon">
  <div class="content">
    <p>New courses</p>
    <h1><span>Coming </span> Soon!!</h1>
    <h2>Meanwhile explore our existing courses </h2>
    <div class="">
      <form action="#">
        <input type="email" placeholder="Your email address...">
        <button type="submit">Notify Me</button>
      </form>
    </div>
  </div>
  <img src="{%static 'assets/images/rocket-01.png'%}" class="rocket">
</div>
<script>
  const msg = 'Please provide a valid email address';
  const form = document.querySelector('form');
  const button = form.querySelector('[type="submit"]');
  
  const error = document.createElement('p');
  error.classList.add('error_text');
  error.textContent = msg;
  
  function checkEmail (e) {
    e.preventDefault();
    const email = e.target.querySelector('[type="email"]').value;
    if (!validateEmail(email)) {
      form.classList.add('error');
      form.insertBefore(error, button);
    } else {
      form.removeChild(error);
      form.classList.remove('error');
    }
  }
  function validateEmail (email) {
    const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  }
  form.addEventListener('submit', checkEmail);
  
</script>

{% endblock %}