{% extends 'index_main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{%static 'assets/css/comingsoon.css'%}" />
<style>
  .comingsoon {
    background-image:url("{% static 'assets/images/abstract_bg.jpg' %}")
  }
</style>
{% endblock %}
{% block main %}
<div class="comingsoon">
  <div class="content">
    <p>New programs</p>
    <h1><span>Coming </span> Soon!!</h1>
    <h2>Meanwhile explore our existing programs </h2>
    <div class="mb-5">
      <form action="#" method="POST">
        {% csrf_token %}
        {{form.email}}
        <button type="submit">Notify Me</button>
      </form>
    </div>
  </div>
  {% comment %} <img src="{%static 'assets/images/rocket-01.png'%}" class="rocket"> {% endcomment %}
</div>

{% endblock %}