{% extends 'index_main.html' %} 
{% load static %} 
{% block head %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
{% block main %}

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="section-title">Contact US</h2>
      </div>
    </div>
    {% if verify is False %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Captcha <strong>verification failed</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="row no-gutters mb-5">
            <div class="col-md-7">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 style="font-family: Montserrat, sans-serif" class="mb-4">
                  Contact Form
                </h3>
                <div id="form-message-warning" class="mb-4"></div>
                <div id="form-message-success" class="mb-4">
                  Your message was sent, thank you {{sender_name}}!
                </div>
                <form
                  method="POST"
                  id="contactForm"
                  name="contactForm"
                  class="contactForm"
                >
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="name">Full Name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="name"
                          id="name"
                          placeholder="Name"
                          maxlength="50"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="label" for="email">Email Address</label>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          id="email"
                          placeholder="Email"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="subject">Subject</label>
                        <input
                          type="text"
                          class="form-control"
                          name="subject"
                          id="subject"
                          placeholder="Subject"
                          maxlength="80"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="label" for="#">Message</label>
                        <textarea
                          name="message"
                          class="form-control"
                          id="message"
                          cols="30"
                          rows="4"
                          placeholder="Message"
                          maxlength="200"
                          required
                        ></textarea>
                      </div>
                    </div>
                    <div class="ml-3 py-2 g-recaptcha" data-sitekey="6Lf1xKIgAAAAABWFL3wMT7t6UPsEQDItw1EUbDB1"></div>
                    <div class="col-md-12">
                      <div class="form-group mt-3">
                        <input
                          type="submit"
                          value="Send Message"
                          class="btn btn-primary"
                        />
                        <div class="submitting"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-5 d-flex align-items-stretch">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d920.3152558887996!2d75.8805897!3d22.681325!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd9409f98247%3A0x186d37397488435f!2sCentre%20for%20Distance%20and%20Online%20Education%20(CDOE)%2C%20DAVV!5e0!3m2!1sen!2sin!4v1656307524462!5m2!1sen!2sin"
                style="border: 0; width: 100%"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
          {% if index.address %}
          <div class="row d-flex flex-row justify-content-center">
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <a href="{{index.map_link}}" target="_blank"
                  ><div class="text">
                    <div
                      class="icon d-flex align-items-center justify-content-center"
                    >
                      <span class="fa fa-map-marker"></span>
                    </div>
                    <p><span>Address:&nbsp;</span>{{index.address}}</p>
                  </div></a
                >
              </div>
            </div>
            {% endif %} {% if index.contact_num %}
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <a href="tel://{{index.contact_num}}" target="_blank">
                  <div class="text">
                    <div
                      class="icon d-flex align-items-center justify-content-center"
                    >
                      <span class="fa fa-phone"></span>
                    </div>
                    <p><span>Phone:&nbsp;</span>{{index.contact_num}}</p>
                  </div></a
                >
              </div>
            </div>
            {% endif %} {% if index.email_id %}
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <a href="mailto:{{index.email_id}}" target="_blank">
                  <div class="text">
                    <div
                      class="icon d-flex align-items-center justify-content-center"
                    >
                      <span class="fa fa-paper-plane"></span>
                    </div>
                    <p><span>Email:&nbsp;</span>{{index.email_id}}</p>
                  </div></a
                >
              </div>
            </div>
            {% endif %} {% if index.website %}
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <a href="{{index.website}}" target="_blank">
                  <div class="text">
                    <div
                      class="icon d-flex align-items-center justify-content-center"
                    >
                      <span class="fa fa-globe"></span>
                    </div>
                    <p><span>Website:&nbsp;</span>{{index.website}}</p>
                  </div></a
                >
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}
