{% extends 'index_main.html' %}
{% load static %}
{% block head %}
<!-- head content like link tags goes here -->
<link rel="stylesheet" href="{% static 'assets/css/courses.css' %}" />
{% endblock %}

{% block main %}
<!-- body content goes below -->
<section id="wrap">
    <div class="container mb-5">
        <h2 class="section-title text-center mt-5">Courses</h2>
        <div class="px-4 pt-5 container-mw-lg container-fluid">
            <div class="d-none d-md-block">
                <div class="container">
                    <div class="container">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link px-3 py-2.5 active" id="{{subhead_active.type_id}}-tab" data-toggle="tab"
                                    href="#{{subhead_active.type_id}}" role="tab" aria-controls="{{subhead_active.type_id}}" aria-selected="false">{{subhead_active.course_type}}</a>
                            </li>
                            {% for subhead in subheads %}
                            <li class="nav-item">
                                <a class="nav-link px-3 py-2.5" id="{{subhead.type_id}}-tab" data-toggle="tab"
                                    href="#{{subhead.type_id}}" role="tab" aria-controls="{{subhead.type_id}}" aria-selected="false">{{subhead.course_type}}</a>
                            </li>
                            {% endfor %}
                            
                        </ul>
                        
                        <div class="tab-content" id="myTabContent">
                            <div
                            class="tab-pane fade show active"
                             id="{{subhead_active.type_id}}" 
                             role="tabpanel" 
                             aria-labelledby="{{subhead_active.type_id}}-tab">
                                    {% for course in courses %}
                                        {% if course.course_type.course_type == subhead_active.course_type %}
                                        <div class="col-4">
                                            <div class="static-card-list d-flex scrollable-mobile-discovery-card-list flex-nowrap mt-5">
                                                <div class="product-card-sizing-wrapper">
                                                    <div class="product-card "><a class="text-decoration-none text-gray-700"
                                                            href="{% url 'course'  program_name course.course_name %}"
                                                            __tracked="true">
                                                            <div tabindex="-1" class="pgn__card card"><img
                                                                    class="lazy card-img-top entered loaded"
                                                                    src="{{course.card_image.url}}"
                                                                    data-src="https://cdn.edx.2u.com/card/header/cybersecurity_managing_risk_in_the_information_age_course_card_image.jpg"
                                                                    alt="" aria-hidden="true" data-ll-status="loaded">
                                                                <div
                                                                    class="pgn__card-body d-flex flex-column justify-content-between pb-3.5 mt-2 card-body">
                                                                    <div>
                                                                        <div class="h5 mb-2 card-title"><span
                                                                                width="0"><span><span>{{course.course_name}}</span></span></span><span
                                                                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span>
                                                                        </div>
                                                                    </div>
                                                                    <div><span class="bg-light-300 badge badge-light">Executive
                                                                            Education</span></div>
                                                                </div>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-start card-footer pgn__card-footer vertical" style="color: #07294d">
                                                                        <span class="text-primary-700">More Info</span>
                                                                    </p><span class="pgn__icon"><svg width="24" height="24"
                                                                            viewBox="0 0 24 24" fill="none"
                                                                            xmlns="http://www.w3.org/2000/svg" role="img"
                                                                            focusable="false" aria-hidden="true">
                                                                            <path
                                                                                d="M19 19H5V5h7V3H3v18h18v-9h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
                                                                                fill="currentColor"></path>
                                                                        </svg><span class="sr-only">Opens a link in
                                                                            a new tab</span></span>
                                                                </div>
                                                            </div>
                                                        </a></div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            {% for subhead in subheads %}
        
                                <div class="tab-pane fade " id="{{subhead.type_id}}" role="tabpanel" aria-labelledby="{{subhead.type_id}}-tab">
                                    {% for course in courses %}
                                        {% if course.course_type.course_type == subhead.course_type %}
                                        <div class="col-4">
                                            <div class="static-card-list d-flex scrollable-mobile-discovery-card-list flex-nowrap mt-5">
                                                <div class="product-card-sizing-wrapper">
                                                    <div class="product-card "><a class="text-decoration-none text-gray-700"
                                                            href="{% url 'course' program_name course.course_name %}"
                                                            __tracked="true">
                                                            <div tabindex="-1" class="pgn__card card"><img
                                                                    class="lazy card-img-top entered loaded"
                                                                    src="{{course.card_image.url}}"
                                                                    data-src="https://cdn.edx.2u.com/card/header/cybersecurity_managing_risk_in_the_information_age_course_card_image.jpg"
                                                                    alt="" aria-hidden="true" data-ll-status="loaded">
                                                                <div
                                                                    class="pgn__card-body d-flex flex-column justify-content-between pb-3.5 mt-2 card-body">
                                                                    <div>
                                                                        <div class="h5 mb-2 card-title"><span
                                                                                width="0"><span><span>{{course.course_name}}
                                                                                            </span></span></span><span
                                                                                    style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span></span>
                                                                        </div>
                                                                    </div>
                                                                    <div><span class="bg-light-300 badge badge-light">Executive
                                                                            Education</span></div>
                                                                </div>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-start card-footer pgn__card-footer vertical" style="color: #07294d">
                                                                        <span class="text-primary-700">More Info</span>
                                                                    </p><span class="pgn__icon"><svg width="24" height="24"
                                                                            viewBox="0 0 24 24" fill="none"
                                                                            xmlns="http://www.w3.org/2000/svg" role="img"
                                                                            focusable="false" aria-hidden="true">
                                                                            <path
                                                                                d="M19 19H5V5h7V3H3v18h18v-9h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
                                                                                fill="currentColor"></path>
                                                                        </svg><span class="sr-only">Opens a link in
                                                                            a new tab</span></span>
                                                                </div>
                                                            </div>
                                                        </a></div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}