{% extends 'index_main.html' %}
{% load static %}
{% block head %}
<!-- head content like link tags goes here -->
<!-- <link rel="stylesheet" href="{% static 'assets/css/course.css' %}"> -->
{% endblock %}

{% block main %}
<!-- body content goes below -->

<!--====== PAGE BANNER PART START ======-->
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
    style="background-image: url(images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{course_detail.course_name.course_name}}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Courses</a></li>
                            <li class="breadcrumb-item"><a href="#">{{course_detail.course_name.program_name.program_name}}</a></li>
                            <li class="breadcrumb-item"><a href="#">{{course_detail.course_name.course_type.course_type}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{course_detail.course_name.course_name}}</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== COURSES single PART START ======-->

<section id="courses-single" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="courses-single-left mt-30">
                    <div class="title">
                        <h3>{{course_detail.display_title}}</h3>
                    </div> <!-- title -->
                    <!-- <div class="course-terms">
                        <ul class="d-md-flex justify-content-around">
                            <li>
                                <div class="teacher-name">
                                    <div class="thum">
                                        <img src="{{course_detail.faculty.faculty_image.url}}" alt="Teacher">
                                    </div>
                                    <div class="name">
                                        <span>Teacher</span>
                                        <h6>{{course_detail.faculty.name}}</h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="course-category">
                                    <span>Category</span>
                                    <h6>{{course_detail.category.category_name}} </h6>
                                </div>
                            </li>
                            <li>
                                <div class="review">
                                    <span>Review</span>
                                    <ul>
                                        {% for rate in overall_rating %}
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        {% endfor %}
                                        {% for rate in negative %}
                                        <li><a href="#"><i class="fa-light fa-star" ></i></a></li>
                                        {% endfor %}
                                        
                                        <li class="rating">({{num_of_reviews}} Reviews)</li>
                                    </ul>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="apply">
                                    <a href="#" class="main-btn">Enroll Now</a>
                                </div>
                            </li> 
                        </ul>
                    </div> course terms -->

                    <!-- <div class="courses-single-image pt-50">
                        <img src="{{course_detail.display_image.url}}" alt="Courses">
                    </div> courses single image -->

                    <div class="courses-tab mt-30">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                                    aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab"
                                    aria-controls="curriculam" aria-selected="false">Syllabus</a>
                            </li>
                            <li class="nav-item">
                                <a id="eligibility-tab" data-toggle="tab" href="#eligibility" role="tab"
                                    aria-controls="eligibility" aria-selected="false">Eligibility</a>
                            </li>
                            <li class="nav-item">
                                <a id="fee-tab" data-toggle="tab" href="#fee" role="tab"
                                    aria-controls="fee" aria-selected="false">Fee Structure</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    <div class="single-description pt-40">
                                        <h6>Course Summary</h6>
                                        <p>{{course_detail.course_summary}}</p>
                                    </div>
                                    <div class="single-description pt-40">
                                        <h6>Pre-Requisites</h6>
                                        <p>{{course_detail.course_prerequisites}}</p>
                                    </div>
                                </div> <!-- overview description -->
                            </div>
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <div class="curriculam-cont">
                                    <div class="title">
                                        <h6>Learn basis javascirpt Lecture Started</h6>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <a href="#" data-toggle="collapse" data-target="#collapseOne"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.1</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingTow">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseTow" aria-expanded="true"
                                                    aria-controls="collapseTow">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.2</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapseTow" class="collapse" aria-labelledby="headingTow"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingThree">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.3</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingFore">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseFore" aria-expanded="false"
                                                    aria-controls="collapseFore">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.4</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseFore" class="collapse" aria-labelledby="headingFore"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingFive">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseFive" aria-expanded="false"
                                                    aria-controls="collapseFive">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.5</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingSix">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseSix" aria-expanded="false"
                                                    aria-controls="collapseSix">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.6</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header" id="headingSeven">
                                                <a href="#" data-toggle="collapse" class="collapsed"
                                                    data-target="#collapseSeven" aria-expanded="false"
                                                    aria-controls="collapseSeven">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture 1.7</span></li>
                                                        <li><span class="head">What is javascirpt</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                                data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>Ut quis scelerisque risus, et viverra nisi. Phasellus ultricies
                                                        luctus augue, eget maximus felis laoreet quis. Maecenasbibendum
                                                        tempor eros.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- curriculam cont -->
                            </div>
                            
                        </div> <!-- tab content -->
                    </div>
                </div> <!-- courses single left -->
                <div class="col-lg-12 mt-4 text-center">
                    <div class="price-button pt-10 mb-4">
                        <button type="button" class="btn main-btn" data-toggle="modal" data-target="#applyModal">
                            Appy Now
                          </button>
                </div>
                </div>
                
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<!-- Application Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #ffc600; color: #07294d;">
        <h5 class="modal-title" id="exampleModalLabel">Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true">
            </i></span>
        </button>
      </div>
      <div class="modal-body bg-light text-dark">
        <form method="POST" id="EnrollForm" name="EnrollForm" class="EnrollForm">{% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label" for="first_name">First Name</label>
                        <input type="text" class="form-control" name="first_name" id="first_name"
                            placeholder="First Name" maxlength="200" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label" for="lat_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name" id="last_name"
                            placeholder="Last Name" maxlength="200" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label" for="subject">Email Address</label>
                        <input type="email" class="form-control" name="emailid" id="emailid"
                            placeholder="Email Address" maxlength="200" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label" for="mobile_number">Mobile Number</label>
                        <input type="text" class="form-control" name="mobile_number" id="mobile_number"
                            placeholder="Mobile Number" maxlength="200" required>
                    </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                      <label class="label" for="qualification">Qualification</label>
                      <input type="text" class="form-control" name="qualification" id="qualification"
                          placeholder="Qualification" maxlength="200" required>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <input type="submit" value="Enroll" class="btn main-btn">
                      <div class="submitting"></div>
                  </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'assets/js/course.js' %}"></script>
{% endblock %}