{% extends 'index_main.html' %}
{% load static %}
{% block head %}
<!-- head content like link tags goes here -->
<!-- <link rel="stylesheet" href="{% static 'assets/css/course.css' %}"> -->
{% endblock %}

{% block main %}
<!-- body content goes below -->

<!--====== PAGE BANNER PART START ======-->
<section id="page-banner" class="pb-3 pt-1 bg_cover" data-overlay="8">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{course_detail.course_name.course_name}}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Programs</a></li>
                            <li class="breadcrumb-item"><a href="#">{{course_detail.program_name}}</a></li>
                            <li class="breadcrumb-item"><a href="#">{{course_detail.course_type}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{course_detail.course_name}}</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== COURSES single PART START ======-->

<section id="courses-single" class="gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="courses-single-left mt-30 mb-30">
                    <div class="d-flex flex-column flex-md-row justify-content-md-between">
                        <div class="title">
                            <h3>{{course_detail.display_title}}</h3>
                            <h6>Program Coordinator : <span style="color: #ffc600;">{{course_detail.faculty.name}}</span></h6>
                        </div> 
                            <div class="price-button mt-4">
                                <a class="btn main-btn" href="{{course_detail.apply_link}}" target="_blank">Apply Now</a>
                            </div>
                    </div>

                    <div class="courses-tab mt-30">
                        <ul class="nav nav-justified d-flex flex-column flex-md-row" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                                    aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a id="admission-tab" data-toggle="tab" href="#admission" role="tab"
                                    aria-controls="admission" aria-selected="false">Admission</a>
                            </li>
                            <li class="nav-item">
                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab"
                                    aria-controls="curriculam" aria-selected="false">Syllabus</a>
                            </li>
                            <li class="nav-item">
                                <a href="#academicCalendar" id="calendar" data-toggle="tab" aria-controls="calendar"
                                    aria-selected="false">Academic Calendar</a>
                            </li>
                            <li class="nav-item">
                                <a id="fee-tab" data-toggle="tab" href="#fee" role="tab" aria-controls="fee"
                                    aria-selected="false">Fee Structure</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    <div class="single-description pt-40">
                                        <h6>Course Summary</h6>
                                        <p>{{course_detail.course_summary}}</p>
                                    </div>
                                    <div class="single-description pt-40">
                                        <h6>Pre-Requisites</h6>
                                        <p>{{course_detail.course_prerequisites}}</p>
                                    </div>
                                    <div class="single-description pt-40">
                                        <h6>Duration</h6>
                                        <p>{{course_detail.course_duration}}</p>
                                    </div>
                                    <div class="single-description pt-40">
                                        <h6>Elgibility</h6>
                                        <p>{{course_detail.course_eligibility}}</p>
                                    </div>
                                </div> <!-- overview description -->
                            </div>
                            <div class="tab-pane fade" id="admission" role="tabpanel" aria-labelledby="admission-tab">
                                <div class="overview-description admission-description">
                                    <div class="single-description pt-40">
                                        <h6>Admission Process</h6>
                                        <p>{{course_detail.admission_process}}</p>
                                    </div>
                                    <div class="single-description pt-40">
                                        <h6>Documents Required</h6>
                                        <p>{{course_detail.documents_required}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <object data="{{ course_detail.course_syllabus.url}}" type="application/pdf" width="100%"
                                    height="700px">
                                <div class="text-center">
                                    <a href="{{course_detail.course_syllabus.url}}" class="btn btn-main"
                                        style="font-size: 20px; margin-top: 50px; color: white; background-color: #07294d;" target="_blank">Download PDF</a>
                                </div>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="academicCalendar" role="tabpanel" aria-labelledby="calendar-tab">
                                <object data="{{course_detail.academic_calendar.url}}" type="application/pdf"
                                    width="100%" height="700px">
                                <div class="text-center">
                                    <a href="{{course_detail.academic_calendar.url}}" class="btn btn-main"
                                        style="font-size: 20px; margin-top: 50px; color: white; background-color: #07294d;" target="_blank">Dowload PDF</a>
                                </div>
                                </object>
                            </div>
                            <div class="tab-pane fade" id="fee" role="tabpanel" aria-labelledby="fee-tab">
                                <object data="{{course_detail.course_fee_structure.url}}" type="application/pdf"
                                    width="100%" height="700px">
                                <div class="text-center">
                                    <a href="{{course_detail.course_fee_structure.url}}" class="btn btn-main"
                                        style="font-size: 20px; margin-top: 50px; color: white; background-color: #07294d;" target="_blank">Download PDF</a>
                                </div>
                            </object>
                            </div>
                        </div>
                         <!-- tab content -->
                    </div>
                </div> <!-- courses single left -->
            </div> <!-- row -->
        </div> <!-- container -->
</section>
{% endblock %}