  {% extends 'index_main.html' %}
  {% load static %}

  {% block head %}
    <link rel="stylesheet" href="{% static 'assets/css/faculty_style.css' %}">
  {% endblock %}

  {% block main %}
  <section class="team-section">
     <div class="container">
         <div class="row">
             <div class="section-title">
                 <h1>Faculty</h1>
                 <!-- <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p> -->
             </div>
         </div>
         <div class="row">
             <div class="team-items">
                 {% for faculty in faculty %}
                  <div class="item">
                      <img src="{% static 'assets/images/team.jpg' %}" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>{{faculty.name}}</h5>
                               <p>{{faculty.post}}</p>
                               <div class="social-links">
                                   {% if faculty.linked_in %}
                                   <a href="{{faculty.linked_in}}"><span class="fa fa-linkedin"></span></a>
                                   {% endif %}
                                   {% if faculty.facebook %}
                                   <a href="{{faculty.facebook}}"><span class="fa fa-facebook"></span></a>
                                   {% endif %}
                                   {% if faculty.twitter %}
                                   <a href="{{faculty.twitter}}"><span class="fa fa-twitter"></span></a>
                                   {% endif %}
                               </div>
                          </div>
                      </div>
                  </div> 
                  {% endfor %}                 
             </div>
         </div>
     </div>
  </section>
  {% endblock %}