  {% extends 'index_main.html' %}
  {% load static %}

  {% block head %}
    <link rel="stylesheet" href="{% static 'assets/css/faculty_style.css' %}">
  {% endblock %}
  
  {% block main %}
  <section class="team-section">
      <div class="containerfac">
          <div class="row">
              <div class="section-title">
                  <h1>&nbspFaculty&nbsp&nbsp</h1>
                </div>
            </div>
            <div class="row">
                {%  for faculty in faculty %}
                <div class="card">
                    <div class="card-image">
                        <img src="{{faculty.faculty_image.url}}" alt="Profile image">
                    </div>
                    <p class="name">{{faculty.name}}</p>
                    <p>{{faculty.post}}</p> 
                    <div class="socials">
                        {% if faculty.linked_in %}
                    <button class="buttonli"><span id="outside"><a href="{{faculty.linked_in}}"><span class="fa fa-linkedin"></span></a></span></button>
                    {% endif %}
                </div> 
            </div>
            {% endfor %}
        </div>
             
         </div> 
     </div>
  </section>
  {% endblock %}