{% extends 'index_main.html' %}
{% load static %}
{% block main %}
<!--====== MODAL PART START ======-->
  
  <!-- Modal -->
  <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #ffc600; color: #07294d;">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-bell fa-pad  faa-ring animated" aria-hidden="true"></i>&nbsp;Announcements</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true">
            </i></span>
          </button>
        </div>
        <div class="modal-body bg-light text-dark">
            {% for announcement in announcements %}
          <div class="card m-2 p-2 d-flex flex-row justify-content-start align-items-center">
            {{announcement.title}} &nbsp;<a href="{{ announcement.link }}">Click Here to View </a> &nbsp; {% if announcement.new is True %}<img src="{% static 'assets/images/new.gif' %}" alt="new_gif" width="24rem" height="24em">{% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

      <!--====== MODAL PART END ======-->
    <!--====== SLIDER PART START ======-->

    <section id="slider-part" class="slider-active" style="height: 85vh;">
      {% for slide in index.slides.all %}
      <div class="single-slider bg_cover pt-150" style="height:85vh; background-image: url({{slide.image.url}})" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 class='text-white' data-animation="fadeInLeft" data-delay="1s">{{index.welcome_header}}</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">{{index.slider_text}}</p>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
        </div>
      {% endfor %}
    </section>

    <!--====== SLIDER PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section id="about-part" class="pt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">
                      <h5 style='font-size:2.5rem'>{{index.about_head}}</h5>
                    </div>
                    <!-- section title -->
                    <div class="about-cont">
                        <p>{{index.about_body}}</p>
                    </div>
                </div>
                <!-- about cont -->
                <div class="col-lg-5 offset-lg-1 d-flex flex-column justify-content-center align-items-center">
                    <div class="about-event mt-30">
                        <div class="event-title">
                            <img src="{{index.header_image.url}}" alt="About">
                        </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- about bg img -->
        {% comment %} <div class="about-bg">
        <img src="images/about/bg-1.png" alt="About">
        </div> {% endcomment %}
    </section>

    <!--====== ABOUT PART ENDS ======-->

{% endblock %}