{% extends 'index_main.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/dataTables.semanticui.min.css">
{% endblock %}

{% block main %}
<section id="wrap">
    <div class="container">
        <h2 class="section-title text-center" style="margin-top: 50px;">Notices</h2>
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered" id="datatable">
            <thead>
                <tr>
                    <th>Sr.No.</th>
                    <th>Title</th>
                    <th>Date of Publication</th>
                    <th>Attachement</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in notices %}
                <tr class="gradeA">
                    <td>{{notice.id}}</td>
                    <td>{{notice.subject}}</td>
                    <td>{{notice.date}}</td>
                    <td><a href="{{notice.attachement}}" target="_blank">Click Here</a></td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
    </div>
</section>
<style>
    .dataTables_wrapper{
        margin: 1.5rem 0 5rem 0;
    }
</style>
{% endblock %}
{% block script %}
<script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.0/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.js"></script>
<script>
   $(document).ready( function () {
    $('#datatable').DataTable({
        info: false,
        lengthChange: false,
    });
} );
</script>
{% endblock %}