{% extends 'index_main.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
{% endblock %}

{% block main %}
<section id="wrap">
    <div class="container">
        <h2 style="color:#07294d" class="section-title mt-50 text-center">Notices</h2>
        <table cellpadding="0" cellspacing="0"  class="datatable table table-striped table-bordered" border="1" id="datatable" >
            <thead>
                <tr style="background-color:#07294d; line-height:25px; line-height:25px;">
                    <th style="color:#ffc600; text-align: center;">Sr.No.</th>
                    <th style="color:#ffc600;text-align: center;">Title </th>

                    <th style="color:#ffc600; text-align: center;">Date of Publication</th>
                    <th style="color:#ffc600;text-align: center;">Attachment</th>
                </tr>
            
            </thead>
            <tbody>
                {% for notice in notices %}
                <tr class="gradeA">
                   
                    <td>{{notice.id}}</td>
                    <td>{{notice.subject}}</td>
                    <td>{{notice.date}}</td>
                    <td><a href="{{notice.attachement}}" target="_blank" class="download">Click Here</a></td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
        
    </div>
</section>
<style>
    .dataTables_wrapper{
        margin: 1.5rem 0 5rem 0;
    }
    .dataTables_wrapper .dataTables_filter input {
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}
.download {
    border-radius: 4px 4px;
    background-color:#ffc60045;
    padding: 4px 4px;
    color: #000;
    text-decoration: none;
}
</style>
{% endblock %}
{% block script %}
<script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
<script>
   $(document).ready( function () {
    $('#datatable').DataTable();
} );
</script>
{% endblock %}