{% extends 'index_main.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{%static 'assets/css/semantic.min.css'%}">
<link rel="stylesheet" href="{%static 'assets/css/dataTables.semanticui.min.css'%}">
{% endblock %}

{% block main %}
<section id="wrap" class="my-5">
    <div class="container">
        <h2 class="section-title text-center">Notices</h2>
        <table cellpadding="0" cellspacing="0"  class="datatable table table-striped table-bordered" border="1" id="datatable" >
            <thead>
                <tr style="background-color:#07294d; line-height:25px; line-height:25px; font-size: 1.2rem; font-weight: bold;">
                    <th style="color:#ffc600; text-align: center;">S.No.</th>
                    <th style="color:#ffc600;text-align: center;">Title </th>

                    <th style="color:#ffc600; text-align: center;">Date of Publication</th>
                    <th style="color:#ffc600;text-align: center;">View</th>
                </tr>
            
            </thead>
            <tbody>
                {% for notice in notices %}
                <tr class="gradeA">
                   
                    <td style="text-align:center">{{foorloop.counter}}</td>
                    <td>{{notice.subject}}</td>
                    <td style="text-align:center">{{notice.date}}</td>
                    <td style="text-align:center">
                        {% if  notice.attachement %}
                        <a href="{{notice.attachement}}" class="attachement_btn" target="_blank">Click Here</a>
                        {% else %}
                        <a href="{{notice.notice_file.url}}" class="attachement_btn" target="_blank">Click Here</a>
                        {%endif%}
                    </td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</section>
<style>
    th{
        font-weight:400;
    }
    .dataTables_wrapper {
        margin: 1.5rem 0 5rem 0;
    }
    .attachement_btn{
        background-color: #ffc600;
        color: #021d3a;
        padding: .4rem;
        border-radius: .9rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all .2s;
    }
    .attachement_btn:hover{
        background-color: #021d3a;
        color: #fff;
    }
    .dataTables_wrapper .dataTables_filter input {
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}
.download {
    border-radius: 4px 4px;
    background-color:#ffc60045;
    padding: 4px 4px;
    color: #000;
    text-decoration: none;
}
</style>
{% endblock %}
{% block script %}
<script src="{%static '/assets/js/jquery.dataTables.min.js'%}"></script>
<script src="{%static 'assets/js/dataTables.semanticui.min.js'%}"></script>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            info: false,
            lengthChange: false,
            ordering: false,
            responsive: true
        });
    });
</script>
{% endblock %}
