{% extends 'index_main.html' %} {% load static %} {% block main %}

<section id="courses-single" class="my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="section-title">Open Educational Resources</h2>
      </div>
    </div>
    <div class="col-lg-10 col-md-6 col-sm-6 innermid">
      <p class="">
        <u
          ><span class="
            ><span class=""
              ><span class=""
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span class="
                        >Open Course Materials</span
                      ></span
                    ></span
                  ></b
                ></span
              ></span
            ></span
          ></u
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span new="" roman="" times=""
                      >1.<a href="https://ocw.mit.edu/"
                        >MIT Open Courseware-
                      </a></span
                    ></span
                  ></span
                ></b
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class=""
                      >This page is an index to the online textbooks in MIT
                      OpenCourseWare. Each link below goes to a course or
                      resource page that contains the textbook files.</span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span new="" roman="" times=""
                      >2.&nbsp;<a href="https://openstax.org/"
                        >OpenStax</a
                      ></span
                    ></span
                  ></span
                ></b
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><a href="https://openstax.org/subjects/humanities"
            >Openstax Humanities Collection</a
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><a href="https://openstax.org/subjects/social-sciences"
            >Openstax Social Sciences Collection</a
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><a href="https://openstax.org/subjects/business"
            >Openstax Business Collection</a
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><a href="https://openstax.org/subjects/math"
            >Openstax Maths Collection</a
          >&nbsp;</span
        >
      </p>
      <p class="">
        <span class=""
          ><strong>3.</strong
          ><span class=""
            ><span class=""
              ><strong
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class="
                        ><span class=">OASIS</span></span
                      ></span
                    ></span
                  ></span
                ></strong
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      >A large user-friendly OER search engine that allows for
                      users to search by subject or by course material type
                      (e.g. textbooks, simulations, audio).</span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><strong
            ><span class=""
              ><span class=""
                ><span lang="EN-IN"
                  ><span class=""
                    ><span class=""
                      ><span class="">4.&nbsp;</span></span
                    ></span
                  ></span
                ></span
              ></span
            ></strong
          ><span class=""
            ><span class=""
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        ><span class=""
                          >Open Courseware</span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    >An independent search engine that indexes open education
                    classes from places like MIT, Yale, and UMass.</span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><strong>5</strong>.</span
                  ></span
                ></span
              ></span
            ></span
          ><strong
            ><span class=""
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span new="" roman="" times=""
                        >Open Learning Initiative</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></strong
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >Complete courses from Carnegie Mellon University</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class="">6.</span></span
                    ></span
                  ></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        ><span class=""
                          >Noba - Psychology Modules</span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    >A series of modules in the field of Psychology from
                    Introductory courses to more advanced topics.
                  </span></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">7.</span></span
                ></span
              ></span
            ></span
          ><strong
            ><span class=""
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span new="" roman="" times="">OERu</span></span
                    ></span
                  ></span
                ></span
              ></span
            ></strong
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >OERu offers a number of full courses in fields like
                        business, economics, digital literacy, and history from
                        partner universities around the world.
                      </span></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class="">8.</span></span
                    ></span
                  ></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        ><span class=""
                          >LearningSpace from Open University</span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >All of the learning materials presented on this site
                        are CC licensed, but don't confuse "Learning Spaces"
                        with the full Open University- their
                        licensing/copyrights are different.</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class="">9.</span></span
                    ></span
                  ></span
                ></span
              ><span class=""
                ><span class=""
                  ><b
                    ><span class=""
                      ><span new="" roman="" times="">Open2Study</span></span
                    ></b
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >MOOC provider from Open Universities Australia. Some
                        content is openly licensed.</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <u
          ><span class=""
            ><span class=""
              ><span class=""
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span class=""
                        ><span class=""
                          ><span class=""
                            ><span class=""
                              >Digital Library</span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></b
                ></span
              ></span
            ></span
          ></u
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">10. </span></span
                ></span
              ><a href="https://www.oercommons.org/"
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times="">OER Commons</span></span
                    ></span
                  ></b
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><a
            href="https://www.oercommons.org/browse?f.general_subject=arts-and-humanities"
            >OER Commons Arts &amp; Humanities Collection</a
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><a
            href="https://www.oercommons.org/browse?f.general_subject=education"
            >OER Commons Education Collection</a
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><a
            href="https://www.oercommons.org/browse?f.general_subject=social-science"
            >OER Commons Social Science Collection</a
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><a
            href="https://www.oercommons.org/browse?f.general_subject=mathematics"
            >OER Commons Maths Collection</a
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class=""
                      >11.<a
                        href="http://www.gutenberg.com/"
                      ></a></span></span></span></span
              ><a href="http://www.gutenberg.com/"
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times=""
                        >ProjectGutenberg</span
                      ></span
                    ></span
                  ></b
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span class=""
                      ><span new="" roman="" times=""
                        >Project Gutenberg</span
                      ></span
                    ></span
                  ></span
                ></b
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times="">
                      is a library of over 60,000 free eBooks. Choose among free
                      epub and Kindle eBooks, download them or read them online.
                      You will find the world's great literature here, with
                      focus on older works for which U.S. copyright has expired.
                      Thousands of volunteers digitized and diligently proofread
                      the eBooks, for enjoyment and education.</span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span new="" roman="" times="">12. </span></span
                  ></span
                ></b
              ><a href="https://archive.org/"
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times=""
                        >Internet Archive</span
                      ></span
                    ></span
                  ></b
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span class=""
                      ><span new="" roman="" times=""
                        ><span class=""
                          >Internet Archive</span
                        ></span
                      ></span
                    ></span
                  ></span
                ></b
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class="">
                        is a non-profit library of millions of free books,
                        movies, software, music, websites, and more.</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        ><span class=""
                          >13.
                          <a href="https://ndl.iitkgp.ac.in/"
                            >National Digital Library of India
                          </a></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></b
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">&nbsp;</p>
      <p class="">
        <u
          ><strong
            ><span class=""
              ><span class=""
                ><span class=""
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span class=""
                        ><span class=""
                          >Open Repositories</span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></strong
          ></u
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span new="" roman="" times=""
              >14.
              <a href="https://nroer.gov.in/home/repository"
                ><b>NROER Repository</b></a
              >
              -NROER is a collaborative platform, which brings together everyone
              interested in school and teacher education.</span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span new="" roman="" times=""
              >Initiated by the Department of School Education and Literacy,
              Ministry of Human Resource Development, Government of India and
              managed by the Central Institute of Educational Technology,
              National Council of Educational Research and Training, the
              Repository runs on the MetaStudio platform, an initiative of the
              Gnowledge Labs, Homi Bhabha Centre for Science Education.</span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">15. </span></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >Directory of Open Access Repositories (OpenDOAR)</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">16. </span></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >Registry of Open Access Repositories (ROAR)</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">17. </span></span
                ></span
              ><span class="" 
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >Open Knowledge Repository (World Bank)</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">&nbsp;</p>
      <p class="">
        <u
          ><span class=""
            ><span class=""
              ><span class=""
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span class=""
                        ><span class=""
                          >Open Textbooks</span
                        ></span
                      ></span
                    ></span
                  ></b
                ></span
              ></span
            ></span
          ></u
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    >18.&nbsp;<a
                      href="https://ocw.mit.edu/courses/online-textbooks/"
                      >MIT Open Textbooks</a
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">19. </span></span
                ></span
              ><a href="http://www.opentextbooks.org.hk/"
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times=""
                        >Open Textbook for Hong Kong</span
                      ></span
                    ></span
                  ></b
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><a href="http://www.opentextbooks.org.hk/tertiary-institutions"
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times=""
                        >University Level
                      </span></span
                    ></span
                  ></b
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">20. </span></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times=""
                      >Global Textbook Project</span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >High-level texts hosted or created by the University of
                        Georgia.</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">21. </span></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times=""
                      >Open Textbook Library</span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >Hundreds of complete, open college-level textbooks
                        collected by the University of Minnesota.</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">22. </span></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        ><span class=""
                          >BC OpenEd</span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span class=""
                    ><span class=""
                      ><span class=""
                        >A curated collection of open textbooks, many reviewed
                        by British Columbia faculty</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <u
          ><span class=""
            ><strong
              ><span class=""
                >Children's Literature</span
              ></strong
            ></span
          ></u
        >
      </p>
      <p class="">&nbsp;</p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">23. </span></span
                ></span
              ><a
                href="http://www.publicbookshelf.com/index.html"
                class=""
                target="_blank"
                >Public Bookshelf</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">24. </span></span
                ></span
              ><a
                href="http://www.astorybeforebed.com/storytime"
                class=""
                >A Story Before Bed</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">25. </span></span
                ></span
              ><a
                href="https://nckids.overdrive.com/media/1665232"
                class=""
                >NC Kids Digital Library</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    >26.<a
                      href="http://www.eastoftheweb.com/short-stories/childrenindex.html"
                      target="_blank"
                    >
                      Short Stories</a
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    >27.<a
                      href="http://https//www.bookrix.com/books.html"
                      target="_blank"
                      >BookRix</a
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">28.&nbsp;</span></span
                ></span
              ><a
                href="http://www.readcentral.com/"
                class=""
                target="_blank"
                >Read Central</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">29. </span></span
                ></span
              ><a href="https://www.si.edu/Kids"
                >Fun Stuff for Kids and Teens</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">30. </span></span
                ></span
              ><a href="http://www.e-learningforkids.org/"
                >e-Learning for Kids</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">31. </span></span
                ></span
              ><a href="http://www.sacred-texts.com/"
                >Internet Sacred Text Archive</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">32. </span></span
                ></span
              ><a href="http://www.readprint.com/" target="_blank"
                >Read Print</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">33. </span></span
                ></span
              ><a href="http://manybooks.net/" target="_blank"
                >Many Books</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">34. </span></span
                ></span
              ><a
                href="https://www.questia.com/library/free-books"
                class=""
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class=""
                      >https://www.questia.com/library/free-books</span
                    ></span
                  ></span
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">35. </span></span
                ></span
              ><a
                href="https://www.widbook.com/ebooks/romance"
                class=""
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class=""
                      >https://www.widbook.com/ebooks/romance</span
                    ></span
                  ></span
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">36. </span></span
                ></span
              ><a
                href="http://www.starfall.com/"
                class=""
                target="_blank"
                >Star Fall</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">37. </span></span
                ></span
              ><a
                href="http://www.storylineonline.net/"
                class=""
                target="_blank"
                >Storyline Online</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">38. </span></span
                ></span
              ><a
                href="http://en.childrenslibrary.org/"
                class=""
                target="_blank"
                >International Children's Digital Library</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">39. </span></span
                ></span
              ><a href="https://www.getepic.com/" class=""
                >epic</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times="">&nbsp;</span></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <u
          ><strong
            ><span class=""
              ><span class=""
                ><span class=""
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times=""
                        ><span class=""
                          ><span class=""
                            >Open Audio Books</span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></strong
          ></u
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span new="" roman="" times=""
              ><span lang="EN-IN"
                ><span class="">40. </span></span
              ><span lang="EN-IN"
                ><span class=""
                  >LibriVox Free Audiobook Collection (1300+)&nbsp;</span
                ></span
              ></span
            ></span
          ><span class=""
            ><span class=""
              ><a
                href="https://archive.org/details/librivoxaudio"
                class=""
                ><span class=""
                  ><span new="" roman="" times=""
                    >https://archive.org/details/librivoxaudio</span
                  ></span
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">41. </span></span
                  ></span
                ></span
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class=""
                        >Audible.com&nbsp;</span
                      ></span
                    ></span
                  ></span
                ></b
              ><a
                href="https://stories.audible.com/discovery"
                class=""
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class=""
                      >https://stories.audible.com/discovery</span
                    ></span
                  ></span
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">42. </span></span
                  ></span
                ></span
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class=""
                        >AudioFile&nbsp;</span
                      ></span
                    ></span
                  ></span
                ></b
              ><a
                href="https://www.audiobooksync.com/"
                class=""
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class=""
                      >https://www.audiobooksync.com/</span
                    ></span
                  ></span
                ></a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <strong
          ><span class=""
            ><u
              ><span class=""
                ><span class=""
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times=""
                        ><span class=""
                          ><span class=""
                            >Teaching Research Skills</span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></u
            ></span
          ></strong
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">43. </span></span
                  ></span
                ></span
              ><a
                href="http://libguides.usc.edu/writingguide/researchglossary"
                class=""
                >USC Research Guides</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">44. </span></span
                  ></span
                ></span
              ><a
                href="https://cirt.gcu.edu/research/developmentresources/tutorials"
                target="_blank"
                >Research Tutorials</a
              ><b
                ><span lang="EN-IN"
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class="page_speed_63911217"
                        >(preparation)
                      </span></span
                    ></span
                  ></span
                ></b
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">45. </span></span
                  ></span
                ></span
              ><a
                href="https://socopen.org/welcome/"
                class=""
                target="_blank"
                >Socopen</a
              >
              open archive of the social sciences provides a free, non-profit,
              open-access platform for social scientists to upload working
              papers, preprints, and published papers, with the option to link
              data and code.</span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><u
            ><span class=""
              ><span class=""
                ><b
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times=""
                        ><span class=""
                          ><span class=""
                            >Free Databases (Open Access)</span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></b
                ></span
              ></span
            ></u
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span class=""
                ><span class=""
                  ><span lang="EN-IN"
                    ><span class=""
                      ><span new="" roman="" times=""
                        ><span class=""
                          ><span class="" </span></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class=""
                        >DOAJ (Directory of Open Access Journals)</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">47. </span></span
                  ></span
                ></span
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">DOAB </span></span
                  ></span
                ></span
              ><a href="https://www.doabooks.org/" class=""
                >https://www.doabooks.org/</a
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">48. </span></span
                  ></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class=""
                        >ScholarWorks (Indiana University)</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">49. </span></span
                  ></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class=""
                        >HighWire (Stanford University)</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">50. </span></span
                  ></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class=""
                        >BASE ( Bielefeld University Library, Germany)</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span class=""
          ><span class=""
            ><span class=""
              ><span lang="EN-IN"
                ><span class=""
                  ><span new="" roman="" times=""
                    ><span class="">51.&nbsp;</span></span
                  ></span
                ></span
              ><span class=""
                ><span class=""
                  ><span class=""
                    ><span new="" roman="" times=""
                      ><span class=""
                        >University of HK</span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </p>
      <p class="">
        <span lang="EN-IN" class=""
          ><span class=""
            ><span new="" roman="" times="">52.</span></span
          ></span
        ><span class="MsoHyperlink "
          ><span class=""
            ><span class=""
              ><span new="" roman="" times=""
                ><span class=""
                  ><a href="https://core.ac.uk/">CORE</a>&nbsp;</span
                ></span
              ></span
            ></span
          ></span
        >The world’s largest collection of open access research papers
      </p>
    </div>
  </div>
</section>

{% endblock %}
