{% extends 'index_main.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'assets/css/teams_s.css' %}">
{% endblock %}

{% block main %}
    <section class="teams">
        <div class="containerteams">
            <div class="heading">
                <h2>&nbspOur Team&nbsp&nbsp</strong></h2>
            </div>
            <div class="row">
                {%  for team in team %}
                <div class="col-lg-4 col-md-6 mb-10">
                    <div class="our_team">
                        <div class="team_img">
                            <img src="{{team.team_image.url}}" alt="image" srcset="">
                        </div>
                        <div class="team_content">
                            <h3 class="name">{{team.name}}</h3>
                            <p>{{team.post}}</p>
                        </div>
                        <div class="social">
                            {% if team.linked_in %}
                                <div class="icon" ><a href="{{team.linked_in}}"><i id="linked_in" class="fa fa-linkedin"></i></a></div>
                            {% endif %}
                            {% if team.instagram %}
                                <div class="icon" ><a href="{{team.instagram}}"><i id="instagram" class="fa fa-instagram"></i></a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}


